[%- TAGS outline -%][%- PROCESS templates/common -%]
-- Verify [% project %]:[% change %] on [% engine %]
%% SET vcols = [ 'id', 'catalog_id' ]
%% CALL vcols.import(fk.list)
%% CALL vcols.import([ 'external_code' ], column.list)
%% CALL vcols.import([ 'data', 'images', 'urls' ], json.list)
%% CALL vcols.import([ 'deleted_at', 'created_at', 'updated_at' ])

BEGIN;

SELECT [% vcols.join(', ') %]
  FROM [% qualified(table) %]
 WHERE FALSE;

ROLLBACK;
