[%- TAGS outline -%][%- PROCESS templates/common -%]
-- Verify [% project %]:[% change %] on [% engine %]
%% SET vcols = [ 'id' ]
%% CALL vcols.import([ 'catalog_id' ], fk.list)
%% CALL vcols.import([ 'code', 'revision_marker' ], column.list)
%% CALL vcols.import([ 'data', 'images', 'urls' ], json.list)
%% CALL vcols.import([ 'deleted_at' ]) IF softdelete
%% CALL vcols.import([ 'inserted_at', 'updated_at' ])

BEGIN;

SELECT [% vcols.join(', ') %]
  FROM [% qualified(table) %]
 WHERE FALSE;

ROLLBACK;
