[%- TAGS outline -%][%- PROCESS templates/common -%]
-- Verify [% project %]:[% change %] on [% engine %]
%% SET vcols = []
%% SET vcols = [ 'id' ] IF syntheticpk
%% CALL vcols.import(fk.list, column.list, json.list)

BEGIN;

SELECT [% vcols.join(', ') %]
  FROM [% qualified(table) %]
 WHERE FALSE;

ROLLBACK;
