[%- TAGS outline -%][%- PROCESS templates/common -%]
-- Verify [% project %]:[% change %] on [% engine %]
%% SET vcols = []
%% SET vcols = [ 'id' ] IF syntheticpk
%% CALL vcols.import([ parent_id, 'locale' ])
%% CALL vcols.import(column.list)
%% CALL vcols.import([ 'data', 'images', 'urls' ], json.list)
%% CALL vcols.import([ 'created_at', 'updated_at' ])

BEGIN;

SELECT [% vcols.join(', ') %]
  FROM [% qualified(table) %]
 WHERE FALSE;

ROLLBACK;
