[%- TAGS outline -%][%- PROCESS templates/common -%]
-- Verify [% project %]:[% change %] on [% engine %]
%% SET vcols = [ 'ancestor_id', 'descendant_id', 'generation' ]
%% SET vcols = [ 'id' ] IF syntheticpk

BEGIN;

SELECT [% vcols.join(', ') %]
  FROM [% qualified(table) %]
 WHERE FALSE;

ROLLBACK;
