[%- TAGS outline -%][%- PROCESS templates/common -%]
-- Test [% project %]:[% change %] on [% engine %]

SET client_min_messages TO warning;
CREATE EXTENSION IF NOT EXISTS pgtap;
RESET client_min_messages;
SET search_path TO [% IF schema %][% schema %],[% END %]public;

BEGIN;
SELECT plan(1);

SELECT enum_has_labels(
  '[% enum %]',
  ARRAY[
%% FOREACH lbl IN label
    '[% lbl.lower %]'[% loop.last ? '' : ',' %]
%% END
  ]
);

SELECT finish();
ROLLBACK;
