[%- TAGS outline -%][%- PROCESS templates/common -%]
-- Deploy [% project %]:[% change %] to [% engine %]
%% FOREACH item IN requires
-- requires: [% item %]
%% END
%% FOREACH item IN conflicts
-- conflicts: [% item %]
%% END

BEGIN;

CREATE TABLE IF NOT EXISTS [% qualified(table) %] (
  id [% pk_type %] PRIMARY KEY,
  catalog_id [% fk_type %] NOT NULL,
  code citext NOT NULL,
  revision_marker text,
%% IF column

%%   FOREACH col IN column
  [% col %] [% type.item(loop.index) or 'text' %] NOT NULL,
%%   END
%% END

  data jsonb NOT NULL DEFAULT '{}'::jsonb,
  images jsonb NOT NULL DEFAULT '[]'::jsonb,
  urls jsonb NOT NULL DEFAULT '[]'::jsonb,
%% FOREACH col IN json
  [% col %] jsonb NOT NULL DEFAULT '{}'::jsonb,
%% END
%% IF fk

%% FOREACH col IN fk
  [% col %] [% fk_type %] NOT NULL,
%% END
%% END

%% IF softdelete
  deleted_at timestamp without time zone NOT NULL
    DEFAULT '0001-01-01 00:00:00'::timestamp with time zone,
%% END
  inserted_at timestamp without time zone NOT NULL DEFAULT now(),
  updated_at timestamp without time zone NOT NULL DEFAULT now(),

  CONSTRAINT [% table %]_catalog_id_fkey
    FOREIGN KEY (catalog_id)
    REFERENCES [% qualified('catalogs') %](id)
    ON DELETE CASCADE DEFERRABLE INITIALLY DEFERRED,
%% FOREACH col IN fk
  CONSTRAINT [% table %]_[% col %]_fkey
    FOREIGN KEY ([% col %])
    REFERENCES [% qualified(ref.item(loop.index) OR '<TABLE>') %](id)
    ON DELETE CASCADE DEFERRABLE INITIALLY DEFERRED,
%% END
  CONSTRAINT [% table %]_code_required
    CHECK ((code IS NOT NULL) AND (btrim(code::text) <> ''::text)),
  CONSTRAINT [% table %]_uk_catalog_id_and_code
    UNIQUE (catalog_id, code)
);

COMMIT;
