[%- TAGS outline -%][%- PROCESS templates/common -%]
-- Deploy [% project %]:[% change %] to [% engine %]
%% FOREACH item IN requires
-- requires: [% item %]
%% END
%% FOREACH item IN conflicts
-- conflicts: [% item %]
%% END

BEGIN;

CREATE TABLE IF NOT EXISTS [% qualified(table) %] (
%% IF syntheticpk
  id BIGSERIAL PRIMARY KEY,
%% END
%% FOREACH col IN fk
  [% col %] BIGINT NOT NULL,
%% END
%% FOREACH col IN column
  [% col %] [% type.item(loop.index) or 'TEXT' %] NOT NULL,
%% END
%% FOREACH col IN json
  [% col %] JSONB NOT NULL DEFAULT '{}'::JSONB,
%% END

%% FOREACH col IN fk
  CONSTRAINT [% table %]_[% col %]_fkey
    FOREIGN KEY ([% col %])
    REFERENCES [% qualified(ref.item(loop.index) OR '<TABLE>') %](id)
    ON DELETE CASCADE DEFERRABLE INITIALLY DEFERRED,
%% END
%% IF syntheticpk
  CONSTRAINT [% table %]_uk_[% fk.join('_') %]
    UNIQUE ([% fk.join(', ') %])
%% ELSE
  CONSTRAINT [% table %]_pkey
    PRIMARY KEY ([% fk.join(', ') %])
%% END
);

COMMIT;
