[%- TAGS outline -%][%- PROCESS templates/common -%]
-- Deploy [% project %]:[% change %] to [% engine %]
%% FOREACH item IN requires
-- requires: [% item %]
%% END
%% FOREACH item IN conflicts
-- conflicts: [% item %]
%% END

BEGIN;

CREATE TABLE IF NOT EXISTS [% qualified(table) %] (
%% IF syntheticpk
  id [% pk_type %] PRIMARY KEY,

%% END
  [% parent_id %] [% fk_type %] NOT NULL,
  locale citext NOT NULL,
%% IF column

%% FOREACH col IN column
  [% col %] [% type.item(loop.index) or 'text' %] NOT NULL,
%% END
%% END

  data jsonb NOT NULL DEFAULT '{}'::jsonb,
  images jsonb NOT NULL DEFAULT '[]'::jsonb,
  urls jsonb NOT NULL DEFAULT '[]'::jsonb,
%% FOREACH col IN json
  [% col %] jsonb NOT NULL DEFAULT '{}'::jsonb,
%% END

  inserted_at timestamp without time zone NOT NULL DEFAULT now(),
  updated_at timestamp without time zone NOT NULL DEFAULT now(),

%% IF syntheticpk
  CONSTRAINT [% table %]_pkey
    PRIMARY KEY (id),
  CONSTRAINT [% table %]_unique_on_[% parent_id %]_and_locale
    UNIQUE ([% parent_id %], locale),
%% ELSE
  CONSTRAINT [% table %]_pkey
    PRIMARY KEY ([% parent_id %], locale),
%% END
  CONSTRAINT [% table %]_locale_required
    CHECK ((locale IS NOT NULL) AND (btrim(locale::text) <> ''::text)),
  CONSTRAINT [% table %]_[% parent_id %]_fkey
    FOREIGN KEY ([% parent_id %])
    REFERENCES [% qualified(parent_table) %](id)
    ON DELETE CASCADE DEFERRABLE INITIALLY DEFERRED
);

COMMIT;
